<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/styles.css">
	<title>Search by State | Covid Geographic</title>
</head>
<body>

	<header class="HeaderNav">
        <a href="/index.html" class="HeaderLogo">Covid Geographic</a>
        <nav class="Navbar">
            <a href="/index.html">Home</a>
            <a href="/search">Search</a>
            <a href="https://www.youtube.com/watch?v=uHgt8giw1LY">Support</a>
        </nav>
    </header>

	<div class="covidContent">

        <div class="InputSearch">
            <form action="/search" method="post">
                <div class="form grid-x grid-margin-x">
                    <!-- Search Location. This will appear on all dynamic routes -->
                    <h4 class="cell searchbarHeader">Location: <span id="formRequired">*</span></h4>
                    <div class="cell medium-6">
                        <input id="Searchbar" list="input" name="Searchbar" type="text" placeholder="Search Location" required/>
                        <datalist id="input">
                            $$TABLE_SEARCHRESULT$$
                        </datalist>
                    </div>
    
    
                    <div class="cell medium-6">
                        <select class="form-select" id="ChooseOption" name="ChooseOption" autocomplete="off" onchange="dropDown()" required>
                            <option value="searchState">Location</option>
                            <option value="searchHospitals">Hospitals</option>
                            <option value="searchRisk">Total Risk</option>
                        </select>
                    </div>
    
    
                    <!-- Search Hospital numbers -->
                    <select class="cell form-select" id="HospitalNum" name="HospitalNum" autocomplete="off">
                        <option value="">(Select the Hospital Range)</option>
                        <option value="LowHosp">Less than 10</option>
                        <option value="MedHosp">10-20</option>
                        <option value="HighHosp">Greater than 20</option>
                    </select>
    
                    <!-- Search by number of Risks -->
                    <select class="cell form-select" id="RiskNum" name="RiskNum" autocomplete="off">
                        <option value="">(Select the Total Risk Range)</option>
                        <option value="LowRisk">Less than 100000</option>
                        <option value="MedRisk">100000-500000</option>
                        <option value="HighRisk">Greater than 500000</option>
                    </select>
                </div>
    
                <div class="cell">
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>

        <div class="covidSectionTitle">
            <h1>$$State$$</h1>
            <button class='prevButton'>Prev</button>
            <button class='nextButton'>Next</button>
        </div>
        <div class="grid-container">
            <div class="covidTable grid-x grid-margin-x small-up-1 medium-up-3 large-up-5">
                $$TABLE_BODY$$
            </div>
        </div>
    </div>





    <script>
        //Drop down for Icons Options
        function dropDown(){
            var searchOptions = document.getElementById("ChooseOption");
            var value = searchOptions.options[searchOptions.selectedIndex].value;

            console.log("Value: "+value);
            if (value === "searchState"){
                //console.log("State");
                document.getElementById("Searchbar").required = true;
                document.getElementById("formRequired").style.display = 'inline';

                document.getElementById("HospitalNum").style.display = 'none';
                document.getElementById("RiskNum").style.display = 'none';
                document.getElementById("HospitalNum").required = false;
                document.getElementById("RiskNum").required = false;



            }else if (value === "searchHospitals"){
                //console.log("Hospital");
                document.getElementById("HospitalNum").style.display = 'block';
                document.getElementById("HospitalNum").required = true;

                document.getElementById("RiskNum").style.display = 'none';
                document.getElementById("Searchbar").required = false;
                document.getElementById("formRequired").style.display = 'none';
                document.getElementById("RiskNum").required = false;



            }else if (value === "searchRisk"){
                //console.log("Risk");
                document.getElementById("RiskNum").style.display = 'block';
                document.getElementById("RiskNum").required = true;

                document.getElementById("HospitalNum").style.display = 'none';
                document.getElementById("Searchbar").required = false;
                document.getElementById("formRequired").style.display = 'none';
                document.getElementById("HospitalNum").required = false;



            }else{ //Default
                //Show none of them if none of them are selected. This is defaulted when the page first loads
                document.getElementById("HospitalNum").style.display = 'none';
                document.getElementById("RiskNum").style.display = 'none';

                document.getElementById("Searchbar").required = true;
                document.getElementById("formRequired").style.display = 'inline';

                document.getElementById("HospitalNum").required = false;
                document.getElementById("RiskNum").required = false;
            }
        }
    </script>


</body>
</html>